/* BROWSER RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  /* UNDER-LAYER BACKGROUND */
    background-color: gray;
    background-image: linear-gradient(to bottom grey, black);
    display: flex;
    justify-content: center;
}

/* UPPER-LAYER BACKGROUND */
#outerSection {
    background-color: hsla(270, 50%, 40%, 0.423);
    background-image: radial-gradient(circle, grey, hsla(288, 50%, 40%, 0.493));
    border: solid 4px darkgray;
    border-radius: 24px;
    width: 1000px;
    height: 100vh;
    /*margin: 0 5vw;  /* top/bottom & left/right */
    /*padding: 10vh 10vw;;  /* top/bottom & left/right */
}

#innerSection {
    width: 800px;
    margin: 20vh auto 0 auto;
}

#headshot {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 50px
}

#about {
    font-size: 2rem;
    width: 240px;
    max-height: 320px;
}

#greet, #p1 {
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
    margin: 1rem auto;
}

.top, .bottom {
    max-width: 750px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.top {
padding-top: 10px;
}


.buttons {
    background-color: grey;
    border-radius: 24px;
    width: 300px;
    max-width: 304px;
    height: 80px;
}