@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* BROWSER RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Sizing includes margin/padding, unlike content-box */
} 

/* || VARIABLES }} */    
:root {
    --FF: "Ninito", sans-serif;
    --FS: 1.5rem;
    --FS-BIG: 2.5rem;
    --FC: whitesmoke;
    --BGCOLOR: #140F2D;
    --RADIAL-BGCOLOR: #312d46;
    --GEN-SECCOLOR: #F49D37;  /* General Secondary Color */
    --DEV-SECCOLOR: #3F88C5;  /* SWE Secondary Color */
    --MUS-SECCOLOR: #D72638;  /* Music Secondary Color */
    --BORDER-RAD: 50px;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    color: var(--FC);
    background-image: linear-gradient(var(--RADIAL-BGCOLOR), var(--BGCOLOR));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* || HEADER || */

header {
    font-size: 0.8rem;
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 80px;
    position: fixed;  /* Holds header bar in place */
    top: 0;  /* Keeps header bar at top of page */
    left: 0;  /* Keeps header bar anchored to the left side of the page */
    width: 100%;  /* Stretches header bar across entire viewport */
    z-index: 1000;  /* Ensures it stays on top layer of page (z-axis) */
}

#nav {
    list-style-type: none;  /* Removes bullets */
    display: flex;
    gap: 40px;
}

a, a:visited {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    color: white;
}

a:active {
    color: rgba(255, 255, 255, 0.575);
}

/* || HOME SECTION || */

#intro {
    font-size: var(--FS-BIG);
    min-width: 1040px;
    margin-top: 12vh;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

#introLeft {
    width: 500px;
    line-height: 2;
}

#greet {
    text-align: center;
}

.titles {
    color: var(--GEN-SECCOLOR);
    font-size: var(--FS-BIG);
}

hr {
    border: none;
    height: 2px;
    background-color: var(--GEN-SECCOLOR)
}

span {
    display: block;
}

#headshot {
    width: 500px;
    height: 500px;
    border-radius: var(--BORDER-RAD);
}

#btnLinks {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btnNav {
    font-size: 25px;
    width: 400px;
    height: 60px;
    border: 2px solid;
    border-radius: var(--BORDER-RAD);
    text-align: center;
    place-content: center;
}

#btnDev {
    border-color: var(--DEV-SECCOLOR);

}

#btnMus {
    border-color: var(--MUS-SECCOLOR);
}

#hrDivider {
    margin-top: 12vh;
    width: 100vw;
    min-width: 100%;
}

/* || ABOUT ME SECTION || */

#about {
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#block1, #block2, #block3 {
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.blockText {
    width: 600px;
    border: solid 2px var(--GEN-SECCOLOR);
    border-radius: var(--BORDER-RAD);
    line-height: 1.5;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blockAlt {
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.twoImgs {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

#leftRight {
    flex-direction: row;
}

#topBottom {
    flex-direction: column;
}

.imgHalves {
    width: 300px;
    border-radius: var(--BORDER-RAD);
}

#imgLeft {
    border: 2px solid var(--DEV-SECCOLOR)
}

#imgRight {
    border: 2px solid var(--MUS-SECCOLOR);
}

#imgBottom {
    width: 600px;
    border: 2px solid var(--MUS-SECCOLOR);
    border-radius: var(--BORDER-RAD);
}

#lastP {
    color: var(--GEN-SECCOLOR);
    text-align: center;
}

#bottomBtns {
    display: grid;
    grid-template-areas:
        "sw me"
        "sk le"
        "co co";
        gap: 30px 30px;
}

.bottomBtn {
    min-width: 250px;
}

#sw {
    background-color: #3f89c556;
    border: 2px solid var(--DEV-SECCOLOR);
    border-radius: var(--BORDER-RAD);
    text-align: center;
    grid-area: sw;
}
#me {
    background-color: #d726384b;
    border: 2px solid var(--MUS-SECCOLOR);
    border-radius: var(--BORDER-RAD);
    text-align: center;
    grid-area: me;
}

#sk {
    background-color: #3f89c556;
    border: 2px solid var(--DEV-SECCOLOR);
    border-radius: var(--BORDER-RAD);
    text-align: center;
    grid-area: sk;
}
#le {
    background-color: #d726384b;
    border: 2px solid var(--MUS-SECCOLOR);
    border-radius: var(--BORDER-RAD);
    text-align: center;
    grid-area: le;
}

#co {
    background-color: #f49c3750;
    border: 2px solid var(--GEN-SECCOLOR);
    border-radius: var(--BORDER-RAD);
    text-align: center;
    grid-area: co;
}