/* Document styles both music and development portfolios */

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Outer container */
#portfolio {
    width: max-content;
    margin: 6rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

h1 {  /* Main title */
    text-align: center;
}

#musTitle {  /* Overwrites .titles in foundation.css */
    color: var(--MUS-SECCOLOR);
}

#devTitle {  /* Overwrites .titles in foundation.css */
    color: var(--DEV-SECCOLOR);
}

p {
    text-indent: 1.25em;
}

/* Each portolio entry */
section {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.blockText,
figure,
img {
    width: 27rem;
}

.blockText {
    line-height: 1.5;
    padding: 0.75rem 1.5rem;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

figcaption {
    font-size: 0.6rem;
    font-style: italic;
}

img {  /* Only affects music imgs */
    height: 20.25rem;
}

.devHr {
    background-color: var(--DEV-SECCOLOR);
}

.musHr {
    background-color: var(--MUS-SECCOLOR);
}

/* Height of dev images is directly relative to the height of the text box (which is dependant on amount of text) */
#unnamed {
    height: 28.416667rem;  /* 682px */
}

#personalWebsite {
    height: 54.1666667rem;  /* 1300px */
}

#firstWebpage {
    height: 22.4166667rem;  /* 538px */
}

#landscape {
    height: 34.4166667rem;  /* 826px */
}

#landlordDb {
    height: 35.9166667rem;  /* 862px */
}

/* Background for each textbox. Order is 1, 2, 3, 4, 3, 2, repeat... */
.musBg1 {
    background-image: linear-gradient(var(--BGCOLOR), #d726381c);
}
.musBg2 {
    background-image: linear-gradient(#d726381c, var(--MUS-DARKCOLOR));
}
.musBg3 {
    background-image: linear-gradient(var(--MUS-DARKCOLOR), #d726381c);
}
.musBg4 {
    background-image: linear-gradient(#d726381c, var(--BGCOLOR));
}

.devBg1 {
    background-image: linear-gradient(var(--BGCOLOR), #3f89c527);
}
.devBg2 {
    background-image: linear-gradient(#3f89c527, var(--DEV-DARKCOLOR));
}
.devBg3 {
    background-image: linear-gradient(var(--DEV-DARKCOLOR), #3f89c527);
}
.devBg4 {
    background-image: linear-gradient(#3f89c527, var(--BGCOLOR));
}