@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/* BROWSER RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Sizing includes margin/padding, unlike content-box */
}
:root {
/* || VARIABLES || */
    /* || GENERAL || */
    --FF: "Ninito", sans-serif;
    --FS: 1.5rem;
    --FS-BIG: 2.5rem;
    /* || COLORS || */
    --FC: whitesmoke;
    --BGCOLOR: #140F2D;
    --RADIAL-BGCOLOR: #312d46;
    --GEN-SECCOLOR: #F49D37;  /* General Secondary Color */
    --DEV-SECCOLOR: #3F88C5;  /* Developer Secondary Color */
    --MUS-SECCOLOR: #D72638;  /* Music Secondary Color */
    /* || FORMAT || */
    --BORDER-RAD: 3.125rem;
    --INTRO-BW: 31.25rem;  /* BW = box-width */
    --ABOUT-BW: 37.5rem;  
    --ABOUT--GAP: 7.5rem;
}
body {
    font-family: var(--FF);
    font-size: var(--FS);
    color: var(--FC);
    background-image: linear-gradient(var(--RADIAL-BGCOLOR), var(--BGCOLOR));
    min-height: 100vh;
}
/* || HEADER || */
header {
    font-size: 0.8rem;
    background-color:#202020;
    min-width: max-content;
    height: 3.75rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
ul {
    list-style: none;  /* Removes bullets */
}
#nav {
    display: flex;
    gap: 2.5rem;
}
#dropdown {
    font-size: 0.8rem;
    background: #202020;
    padding: 0 0.5rem 0.5rem 0.5rem;
    position: absolute;
    z-index: 11;
    display: none;
    transform: translateX(-0.5rem);
}
ul li:hover ul#dropdown, #dropdown li a:hover {
    display: block;
}
ul li ul li {
    padding-top: 1rem;
}
a, a:visited, li p {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}
a:hover, a:focus, li p:hover, li p:focus {
    color: rgba(255, 255, 255, 0.75);
}
a:active {
    color: rgba(255, 255, 255, 0.575);
}
hr {
    border: none;
    height: 2px;
    background-color: var(--GEN-SECCOLOR);
    width: 100%;
}
#hrDivider {
    margin-top: 12vh;
    min-width: 82.5rem;
    left: 0;
    opacity: 0;
}
/* || HOME SECTION || */
#intro {
    font-size: var(--FS-BIG);
    width: 100vw;
    min-width: max-content;
    margin-top: 12vh;
    padding-top: 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}
#introLeft {
    width: var(--INTRO-BW);
    line-height: 2;
}
#greet {
    text-align: center;
    display: block;
}
.title {
    color: var(--GEN-SECCOLOR);
    font-size: var(--FS-BIG);
}
.subTitles {
    display: block;
    text-align: center;
}
#headshot {
    width: var(--INTRO-BW);
    height: var(--INTRO-BW);
    border-radius: var(--BORDER-RAD);
}
#btnLinks {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.btnNav {
    font-size: 1.563rem;
    width: 25rem;
    height: 3.75rem;
    border: 2px solid;
    border-radius: var(--BORDER-RAD);
    text-align: center;
    place-content: center;
}
#btnDev {
    border-color: var(--DEV-SECCOLOR);
}
#btnMus {
    border-color: var(--MUS-SECCOLOR);
}