:root {
    --DEV-MEDCOLOR: #3f89c5ab;
    --MUS-MEDCOLOR: #d72638a9;
    --GEN-MEDCOLOR: #f49c37a8;
}

main {
    margin: 4vh 0;
    padding-top: 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}
#intro {
    display: block;
    text-align: center;
}
#selectors {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.selector {
    color: var(--FC);
    background-color: transparent;
    font-size: 1.563rem;
    width: 25rem;
    padding: 1.25rem 0;
}
#devButton:hover {
    background-color: var(--DEV-DARKCOLOR);
}
#musButton:hover {
    background-color: var(--MUS-DARKCOLOR);
}
#softButton:hover {
    background-color: var(--GEN-DARKCOLOR);
}
#devButton:active {
    background-color: var(--DEV-MEDCOLOR);
}
#musButton:active {
    background-color: var(--MUS-MEDCOLOR);
}
#softButton:active {
    background-color: var(--GEN-MEDCOLOR);
}
/* || BLURBs || */
#overview {
    color: whitesmoke;
}

#blurbGen {
    display: show;
}
#blurbDev {
    display: none;
}
#blurbMus {
    display: none;
}
#blurbSoft {
    display: none;
}
/* BLURB TEMPLATES */
.blurbsTitles {
    text-align: center;
    margin-bottom: 4vh;
}
.blurbs {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.blurbs .column {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.blurb h3 {
    text-align: center;
}
.blurb {
    line-height: 1.5;
    width: 28.125rem;
    height: max-content;
    padding: 1.25rem 2.5rem 0rem 2.5rem;
    transition-property: height;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
#blurbGen .blurb {
    padding-bottom: 1.5rem;
}
#blurbDev h1, .devBorder h3 {
    color: var(--DEV-SECCOLOR)
}
#blurbMus h1, .musBorder h3 {
    color: var(--MUS-SECCOLOR)
}
#blurbSoft h1, .softBorder h3 {
    color: var(--GEN-SECCOLOR)
}
.pulldown {
    font-size: 1.25rem;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.expanded {
    height: 0;
    transition-duration: 500ms;
    transition-timing-function: ease;
    overflow: hidden;
}